{% extends 'base.html' %}
{% load static %}
{% block title %}Edit Profile | {% endblock %}

{% block content %}
<section class="hero container">
    <br>
    <!-- <h2 class="hero__subtitle">Hi, I'm Dev 👋</h2> -->
    <!-- <h1 class="hero__title">
      # Hash
    </h1> -->
    <p class="hero__description">
      <!-- A Social Media Application with some <strong>Unique Features</strong> web
      developer and <strong>UI/UX</strong>
      enthusiast specialized in building stunning pixel-perfect interactive
      websites/applications. -->
        <div class="wrapper">
            <form method="post" enctype="multipart/form-data">
              {% csrf_token %}
                <h1 class="wh1">Change Password</h1>
                <div class="input-box">
                    <input type="password" name="oldpass1" placeholder="Old Password" id="pass" required>
                    <img class="icnlog" id="eyeicon" src="{%static 'images/passwordfill.svg'%}" alt="">
                </div>
                <div class="input-box">
                    <input type="password" name="pass1" placeholder="New Password" id="pass1" required>
                    <img class="icnlog" id="eyeicon1" src="{%static 'images/closedeye.svg'%}" alt="">
                </div>
                <div class="input-box">
                    <input type="password" name="pass2" placeholder="Confirm Password" id="newpass2" required>
                    <img class="icnlog" id="eyeicon3" src="{%static 'images/closedeye.svg'%}" alt="">
                </div>
                <br>
                <button type="submit" class="hero__btn btn">Submit</button>
                <div class="register-link">
                    <p>Revert Changes? <a href="{% url 'profilee' request.user.username %}">Cancel</a></p>
                </div>
                {% if messages %}
                  <div>
                    {% for message in messages %}
                       <p class="feed-signin-error">{{ message }}</p>
                    {% endfor %}
                  </div>
                {% endif %}
            </form>
        </div>
    </p>
    <br>
</section>
<script>
    let eyeicon1 = document.getElementById("eyeicon1")
    let oldpassword = document.getElementById("pass1")

    eyeicon1.onclick = function(){
      if(oldpassword.type == "password"){
        oldpassword.type = "text";
        eyeicon1.src="{%static 'images/openeye.svg'%}";
      }
      else{
        oldpassword.type = "password";
        eyeicon1.src="{%static 'images/closedeye.svg'%}";
      }
    }
    
    let eyeicon3 = document.getElementById("eyeicon3")
    let newpassword2 = document.getElementById("newpass2")

    eyeicon3.onclick = function(){
      if(newpassword2.type == "password"){
        newpassword2.type = "text";
        eyeicon3.src="{%static 'images/openeye.svg'%}";
      }
      else{
        newpassword2.type = "password";
        eyeicon3.src="{%static 'images/closedeye.svg'%}";
      }
    }
</script>
{% endblock%}
