{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/svg+xml" href="" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://api.fontshare.com/v2/css?f[]=general-sans@500,600,400,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static 'css/modern-normalize.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/header.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/hero.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/about.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/featured.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/work.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/contact.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/footer.css'%}">
    <link rel="stylesheet" href="{% static 'css/components/mobile-nav.css'%}">
    <link rel="stylesheet" href="{% static 'css/utils.css'%}">
    <link rel="stylesheet" href="{%static 'css/footernew.css'%}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/components/login.css'%}">
    <meta name="description" content="My Portfolio website" />
    <meta name="keywords" content="web design, html, css, js" />
    <title>Register</title>
  </head>
  <body>
    <header class="header container">
      <h1 class="logotxt">#Hash</h1>
      <nav>
        <ul class="header__menu">
          <li>
            <a class="header__link" href="#about">About</a>
          </li>
          <li>
            <a class="header__link" href="#featured">Friends</a>
          </li>
          <li>
            <a class="header__link" href="#contact">Contact Us</a>
          </li>
          <li>
            <div class="header__searchbox" href="#">
              <input type="text" placeholder="Find ...">
            </div>
          </li>
          <li>
            <div class="header__searchicon">
              <a href="">
                <svg xmlns="http://www.w3.org/2000/svg" 
                  height="24" 
                  viewBox="0 -960 960 960"
                  width="24"
                  fill=var(--clr-light)
                >
                <path 
                  d="M784-120 532-372q-30 24-69 38t-83 14q-109 0-184.5-75.5T120-580q0-109 75.5-184.5T380-840q109 0 184.5 75.5T640-580q0 44-14 83t-38 69l252 252-56 56ZM380-400q75 0 127.5-52.5T560-580q0-75-52.5-127.5T380-760q-75 0-127.5 52.5T200-580q0 75 52.5 127.5T380-400Z"
                />
                </svg>
              </a>
            </div>
          </li>
          <li class="header__line"></li>
          <li>
            <button
              aria-label="theme-toggle btn"
              id="theme-toggle"
              class="header__sun"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"
                />
              </svg>
            </button>
          </li>
          <li>
            <a class="header__resume btn butn" href="{%url 'register'%}">Join Now</a>
          </li>
        </ul>
        <button aria-label="mobile nav button" class="header__bars">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
          >
            <path
              fill-rule="evenodd"
              d="M3 6.75A.75.75 0 013.75 6h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 6.75zM3 12a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75A.75.75 0 013 12zm0 5.25a.75.75 0 01.75-.75h16.5a.75.75 0 010 1.5H3.75a.75.75 0 01-.75-.75z"
              clip-rule="evenodd"
            />
          </svg>
        </button>
      </nav>
    </header>
    <!-- Mobile Navigation -->
    <div class="mobile-nav">
      <nav>
        <ul class="mobile-nav__menu">
          <li>
            <a class="mobile-nav__link" href="#about">About</a>
          </li>
          <li>
            <a class="mobile-nav__link" href="#featured">Work</a>
          </li>
          <li>
            <a class="mobile-nav__link" href="#contact">Contact</a>
          </li>
          <li class="mobile-nav__link-line"></li>
          <li>
            <button
              aria-label="theme-toggle btn"
              id="theme-toggle"
              class="mobile-nav__sun"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M12 2.25a.75.75 0 01.75.75v2.25a.75.75 0 01-1.5 0V3a.75.75 0 01.75-.75zM7.5 12a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0zM18.894 6.166a.75.75 0 00-1.06-1.06l-1.591 1.59a.75.75 0 101.06 1.061l1.591-1.59zM21.75 12a.75.75 0 01-.75.75h-2.25a.75.75 0 010-1.5H21a.75.75 0 01.75.75zM17.834 18.894a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 10-1.061 1.06l1.59 1.591zM12 18a.75.75 0 01.75.75V21a.75.75 0 01-1.5 0v-2.25A.75.75 0 0112 18zM7.758 17.303a.75.75 0 00-1.061-1.06l-1.591 1.59a.75.75 0 001.06 1.061l1.591-1.59zM6 12a.75.75 0 01-.75.75H3a.75.75 0 010-1.5h2.25A.75.75 0 016 12zM6.697 7.757a.75.75 0 001.06-1.06l-1.59-1.591a.75.75 0 00-1.061 1.06l1.59 1.591z"
                />
              </svg>
            </button>
          </li>
          <li>
            <a class="mobile-nav__btn btn" href="{%url 'register'%}">Join Now</a>
          </li>
        </ul>
      </nav>
    </div>
    <!-- End of Mobile Navigation -->
    <main>
      <section class="hero container">
        
        <!-- <h2 class="hero__subtitle">Hi, I'm Dev 👋</h2> -->
        <!-- <h1 class="hero__title">
          # Hash
        </h1> -->
        <p class="hero__description">
          <!-- A Social Media Application with some <strong>Unique Features</strong> web
          developer and <strong>UI/UX</strong>
          enthusiast specialized in building stunning pixel-perfect interactive
          websites/applications. -->
          <div class="wrapper">
            <form method="post" action=".">
              {% csrf_token %}
                <h1 class="wh1">Register</h1>
                <div class="input-box">
                    <input type="text" placeholder="Email" name="email" required>
                    <svg class="icnlog" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path fill= "#070a13" d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0
                         33-23.5 56.5T800-160H160Zm320-280 320-200v-80L480-520 160-720v80l320 200Z"/>
                    </svg>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Full Name" required>
                    <img src="" alt="">
                    <svg class="icnlog" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path fill= "#070a13" d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 
                        113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 
                        15 46.5 43.5T800-272v112H160Z"/>
                    </svg>
                </div>
                <div class="input-box">
                    <input type="text" placeholder="Username" name="username" required>
                    <svg class="icnlog" xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24">
                        <path fill= "#070a13" d="m240-160 40-160H120l20-80h160l40-160H180l20-80h160l40-160h80l-40 160h160l40-160h80l-40 
                        160h160l-20 80H660l-40 160h160l-20 80H600l-40 160h-80l40-160H360l-40 160h-80Zm140-240h160l40-160H420l-40 160Z"/>
                    </svg>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Password" name="password1" id="pwd" required>
                    <img class="icnlog" id="eyeicon" src="{%static 'images/closedeye.svg'%}" alt="">
                </div>
                <div class="remember-forgot">
                    <label><input type="checkbox">Remember Me</label>
                    <a href="#">Forgot Password</a>
                </div>
                {% if form.errors %}
                  {% for field in form %}
                    {% for error in field.errors%}
                      <div class="register-link bg-red-300">
                        <p>{{ error|escape }}</p>
                      </div>
                    {% endfor %}
                  {% endfor %}
                {% endif %}
                <button type="submit" class="hero__btn btn">Register</button>
                <div class="register-link">
                    <p>Already have an account? <a href="{%url 'login'%}">Login</a></p>
                </div>
            </form>
          </div>
        </p>
        <br>
      </section>
      <section id="contact" class="contact container section">
        <h2 class="contact__title">Get In Contact</h2>
        <p class="contact__description">
          Whether you are starting a project, have business inquiries or just
          want to say hi, my inbox is always open so feel free to reach out and
          I will get back to you as soon as possible.
        </p>
        <a
          class="contact__btn btn"
          href="mailto:slayingthedragon.io@gmail.com"
          target="_blank"
          >React Out</a
        >
      </section>
    </main>
    <br>
    <br>
    <!-- <footer class="footer container section"> -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="footer-col">
            <h4>company</h4>
            <ul>
              <li><a href="#">about us</a></li>
              <li><a href="#">our services</a></li>
              <li><a href="#">privacy policy</a></li>
              <li><a href="#">affiliate program</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>get help</h4>
            <ul>
              <li><a href="#">FAQ</a></li>
              <li><a href="#">shipping</a></li>
              <li><a href="#">returns</a></li>
              <li><a href="#">order status</a></li>
              <li><a href="#">payment options</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>online shop</h4>
            <ul>
              <li><a href="#">watch</a></li>
              <li><a href="#">bag</a></li>
              <li><a href="#">shoes</a></li>
              <li><a href="#">dress</a></li>
            </ul>
          </div>
          <div class="footer-col">
            <h4>follow us</h4>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <script>
      let eyeicon = document.getElementById("eyeicon")
      let password = document.getElementById("pwd")

      eyeicon.onclick = function(){
        if(password.type == "password"){
          password.type = "text";
          eyeicon.src="{%static 'images/openeye.svg'%}";
        }
        else{
          password.type = "password";
          eyeicon.src="{%static 'images/closedeye.svg'%}";
        }
      }
    </script>
    <script  src="{% static 'javascript/darkmode.js' %}"></script>
    <script  src="{% static 'javascript/mobilenav.js' %}"></script>
  </body>
</html>