{% extends 'base.html' %}
{% load static %}
{% block title %}Tag | {% endblock %}

{% block content %}
<section id="featured" class="featured container section">
    <!-- <h3 class="featured__subtitle">Tag</h3> -->
    <br>
    <div class="featured__wrapper">
      <h2 class="featured__title">{{tag.title}}</h2>
      <!-- <a
        aria-label="link featured projects"
        class="featured__link"
        href="#"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244"
          />
        </svg>
      </a> -->
    </div>
    <p class="featured__description">
      Top Posts
    </p>
    
    <div class="featured__img-container">
        {% for post in posts %}
            <div class="">
                <a href="{{ post.get_absolute_url }}">
                  {% if post.picture %}
                    <img src="{{ post.picture.url }}" class="post-img">
                  {% else %}
                    <video src="{{ post.video.url }}" controls class="post-img"></video>
                  {% endif %}
                </a>
            </div>
        {% endfor %}
    </div>
</section>
{% endblock %}