.explore__card{
    display: flex;
    background: var(--clr-slate850);
    border-radius: 8px;
}

.profile-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 2rem;
}

.profile-card {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
}

.profile-card:hover {
    transform: translateY(-5px);
}

.profile-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.profile-info {
    flex: 1;
    padding: 20px;
}

.fullname {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 5px;
}

.username {
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

.bio {
    font-size: 14px;
    color: #888;
}

/* tag-styles.css */

.tag-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 2rem;
}

.tag-card {
    display: flex;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s;
    justify-content: center;
    align-items: center;
}

.tag-card:hover {
    transform: translateY(-5px);
}

.tag-backdrop {
    
    width: 80%;
    height: 220px;
    display: block;
    border-radius: 50%;
    background: var(--clr-light);
    margin-top: 30px;
    margin-bottom: 30px;

}

.tag-info {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;

}

.tag-name {
    font-size: var(--size-3xl);
    font-weight: bold;
    color: var(--clr-dark);
    font-family: Righteous, Regular;
}

.bio {
    max-width: 150px; /* Adjust as needed */
    max-height: 5em; /* Adjust to 3 rows */
    overflow: hidden;
    text-overflow: ellipsis;

    display: -webkit-box;
    -webkit-line-clamp: 3; /* Number of lines to show */
    -webkit-box-orient: vertical;
}


/* xs */
@media (max-width: 475px) {
    .profile-grid {
        grid-template-columns: repeat(1, 1fr);
    }

    .tag-grid {
        grid-template-columns: repeat(1, 1fr);
        padding: 35px;
        margin-top: 0px;
    }
}

/* sm */
/* @media (min-width: 640px) {} */

/* md */
/* @media (min-width: 768px) {} */

/* lg */
/* @media (min-width: 1024px) {} */

/* xl */
/* @media (min-width: 1280px) {} */

/* 2xl */
/* @media (min-width: 1536px) {} */